/* general styles */

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}

h1{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin:0;
}

a{
    text-decoration: none;
    color: inherit;
}

form{
    width: 100%;
}

/* login section */

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #282828;
    border-radius: 10px;
}

.fields{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
    width: 90%;
}

.fields>input{
    height: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    border:1px solid #ccc;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px auto;
}

.buttons{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    align-items: center;
}

.enter-btn span{
    font-size: 30px;
    margin-right: 5px;
}

.enter-btn{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    align-items: center;
    justify-content: center;
}

.enter-btn:hover{
    background-color: #444444;
}

.side-buttons{
    display: flex;
    flex-direction: column;
}

.fault-msg, .success-msg{
    font-size: 12px;
    padding-top:20px;
}

.fault-msg{
    color: rgb(255, 118, 118);
}

.success-msg{   
    color: rgb(70, 221, 70);
}