/* general styles */

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #E9ECEE;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
}

footer{
    display: flex;
    min-height: 50px;
    background-color: #293240;
    color: white;
    padding: 10px 10%;
    align-items: center;
}

/* surveys-page.php */

/* header */
.logo>img{
    width: 150px;
}

/* navigation */
nav{
    display: flex;
    flex-wrap: wrap;
}

.navlink{
    margin:auto 10px;
    color:black;
    text-transform: uppercase;
    text-align: center;
}

.survey-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 50px;
    justify-content: center;
}

.survey-card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 15%;
    min-width: 100px;
    height: 150px;
    padding: 20px;
    margin: 1%;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.survey-card hr{
    height: 30%;
    color: white;
    width: 5px;
    border-radius: 3px;
    background-color: white;
    margin-right: 10px;
}



/* user.php */


/* media-queries */

/* surveys-page */
@media (max-width: 1024px){
    header{
        justify-content: center;
        flex-direction: column;
    }
    nav{
        justify-content: center;
        margin: 10px auto;
    }
    .navlink{
        margin: 5px 5px;
        font-size: 18px;
        font-weight: 400;
    }
}