/* general styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e9ecee;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10%;
  margin: 25px 0;
}

footer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 10px 10%;
  margin-top: 25px;
  min-height: 50px;
  background-color: #293240;
  color: white;
}

main {
  flex-grow: 1;
  margin: 0 10%;
}

/* surveys-page.php */

/* header */
.logo img {
  width: 150px;
}

/* navigation */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navlink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin: auto 10px;
  color: black;
}

nav .navlink:nth-last-child(1) {
  margin-right: 0;
}

.navlink img {
  width: 20px;
  padding: 3px;
}

.welcome-message {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.surveys-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.survey-card-control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 210px;
  max-width: 300px;
  margin: 1%;
  height: 170px;
  border-radius: 13px;
  border: 3px #293240 solid;
}

.survey-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.survey-control input {
  font-family: "Montserrat", sans-serif;
  border: 0px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #293240;
  color: white;
  margin: 5px 10px;
}

.survey-card {
  position: relative;
  flex-grow: 1;
  border-radius: 10px;
  background-color: red;
  color: white;
}

.survey-card-intro {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.survey-card hr {
  height: 30%;
  min-width: 5px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: white;
  color: white;
}

.survey-card-intro,
.survey-card-info {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.survey-card-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.survey-card:hover .survey-card-info {
  visibility: visible;
  opacity: 1;
}

.survey-card-intro {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.survey-card:hover .survey-card-intro {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

/* user.php */
.user-container,
.stat-container,
.history-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.container-title {
  padding-bottom: 10px;
  font-size: 20px;
}

.info-card,
.history-card {
  border-radius: 10px;
  background-color: #293240;
}

.info-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5%;
  color: white;
}

.info-card img {
  width: 20%;
  height: 20%;
  min-width: 100px;
  margin-bottom: 15px;
  margin-right: 30px;
  border-radius: 10px;
}

.info-header {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #e9ecee;
}

.info-card ul li {
  margin-bottom: 10px;
}

.info-input {
  width: 100%;
  height: 30px;
  padding: 0px 8px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  background-color: #d9d9d9;
  color: #293240;
}

.stat-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 20%;
  min-width: 150px;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ff4346;
  color: white;
}

.stat-card img {
  width: 50%;
  max-width: 100px;
}

.stat-value,
.stat-about {
  text-align: center;
}

.stat-value {
  margin: 15px 0;
  font-size: 22px;
  font-weight: bold;
}

.history-container table {
  width: 100%;
  padding: 5%;
  border-collapse: separate;
  border-spacing: 0 20px;
  border-radius: 10px;
  background-color: #293240;
  color: white;
}

.history-container table tr {
  line-height: 50px;
}

.history-container table .row {
  background-color: #d9d9d9;
  color: #0f2232;
}

.history-container table th,
.history-card table td {
  text-align: center;
}

.history-container table th {
  border-bottom: 3px solid white;
}

.date-col,
.time-col {
  padding: 0 5px;
}

.row td {
  text-align: center;
}

/* authorization */
.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
}

.signin-content-head h1 {
  font-size: 24px;
  font-weight: bold;
}

.signin-content-head hr {
  width: 4px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: red;
  color: red;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signin-content-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.signin-content-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signin-content-item img {
  width: 50px;
}

.signin-content-item,
.signin-content-head {
  margin-bottom: 20px;
}

.signin-content-item input {
  width: 90%;
}

.signin-content-item input {
  padding: 10px;
  font-weight: bold;
  color: #0f2232;
  border: 2px #e9ecee solid;
  border-radius: 5px;
}

.btn-signin {
  align-self: center;
  width: 60%;
  height: 50px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  font-size: 14px;
  border: none;
}

.btn-signin:hover {
  background-color: white;
  border: 3px red solid;
  color: red;
  cursor: pointer;
}

.btn-signin:active {
  border: 2px red solid;
}

.error-msg {
  margin: 10px;
  max-width: 300px;
  font-size: 12px;
  font-weight: bold;
  color: red;
}

/* survey.php */
.survey-info {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ff4346;
  color: white;
}

.survey-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  text-align: justify;
}

.question-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  background-color: #293240;
  color: white;
}

.question-card-num {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #e9ecee;
  color: black;
}

.question-container {
  width: 100%;
  margin-left: 10px;
}

.question-header {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #181e29;
}

.question-header-media {
  margin-top: 10px;
}

.question-answers ul,
.input-file,
.input-text {
  width: 100%;
  box-sizing: border-box;
}

.question-answers li {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.question-answers li input {
  margin-right: 15px;
}

.question-header-media,
.answer-content-media {
  width: 30%;
  min-width: 200px;
  border-radius: 10px;
}

.input-text {
  padding: 5px;
  resize: none;
  font-family: "Montserrat", sans-serif;
}

.buttons-card {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #293240;
}

.buttons-card input {
  font-family: "Montserrat", sans-serif;
  border: 0px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

.buttons-card input:first-child {
  background-color: #181e29;
}

.buttons-card input:last-child {
  margin-left: 10px;
  background-color: #ff0000;
}

/* results.php */

.results-container table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.results-container tr:nth-child(1) {
  background-color: inherit;
  color: #292929;
}

.results-container tr {
  line-height: 35px;
  background-color: #293240;
  color: white;
}

.tb-title,
.tb-timeend {
  padding: 0 10px;
}

.tb-title {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tb-timeend {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.results-container th,
.results-container td {
  text-align: center;
}

.results-container td input{
  font-family: "Montserrat", sans-serif;
  border: 0px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ff4346;
  color: white;
  margin: 5px 10px;
}

/* media-queries */

/* index.php */
@media (max-width: 1024px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  nav {
    align-items: center;
  }
  div + span nav {
    justify-content: center;
    margin: 10px auto;
  }
  .navlink {
    margin: 5px 5px;
  }
  .surveys-section {
    justify-content: center;
  }
}
